<div class='container' id="account-page">
    <div ng-if='state.error'>
        <div class='bs-callout bs-callout-danger'>
            <h3>ERROR</h3>
            <p>{{state.error}}</p>
        </div>
    </div>
    <div ng-if='user'>
        <h2 id='welcome-text'>Welcome {{user.first_name}} {{user.last_name}}</h2>


        <div class='profile-card'>
            <img class='profile-image' ng-src="{{user.photo_link}}" />

            <br>
            <br>
            <p>Education: {{user.education}}</p>
            <p>{{user.job_title}} at {{user.employer}}</p>
            <p>Industry: {{user.industry}}
        </div>

        <leaflet class = "map" lf-center="center" markers="markers" ></leaflet>
    </div>
</div>
